#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.st1 {
  font-weight: 800;
  font-size: 5em;
}

.st2 {
  font-weight: 600;
  font-size: 5em;
}

.st3 {
  font-weight: 400;
  font-size: 2em;
}

.assembly {
  height: 35em;  
}

.horCon{
  display: flex;
  gap: 2em;
  justify-content: center;
}

.accentBg1 {
  background-color:rgb(136, 181, 113);
  padding: .25em .5em .25em .5em;
}

.accentBg2 {
  border-color: rgb(53, 91, 47);
  padding: .25em .5em .25em .5em;
}

.accentBorder1{
  border-color:rgb(136, 181, 113);
  border-style: solid;
  border-width: 2px; 
}

.accentBorder2 {
  border-color: rgb(53, 91, 47);
  border-style: solid;
}

.cursor {
  cursor: pointer;
}

.cursor:hover{
  color:white;
}

.footer {
  
}

.stepImg{
  height: 200px;
}

.color1 {
  color: rgb(136, 181, 113);
}

.color2 {
  color: rgb(53, 91, 47)
}

.color3 {
  color: white;
}

.hr {
  border-color: rgb(53, 91, 47);
}

.header{
}

.section, .footer {
  margin-top: 2em;
}

.bold {
  font-weight: 600;
}