.backdrop {
  background-color: white;
  border-radius: 2em;
  box-shadow: 5px 5px 5px #7e7e7e;
  padding: 2em;
  display: flex;
  color: #6F6E6E;
  flex-direction: column;
  width: fit-content;
  max-width: 70em;
  min-height: 30em;
}

p {
  color: #6F6E6E;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  align-items: start;
}

#assembly {
  height: 25em;
  margin-left: -1em;
}

.topbar {
  height: fit-content;
}

.dot, .dotHor {
  height: 10px;
  width: 10px;
  background-color: #6C9A56;
  border-radius: 50%;
  display: inline-block;
}

.dotHor {
  align-self: center;
  margin-right: 1em;
}

.topbarElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.h1, .h2 {
  color: #6C9A56;
  font-weight: 800;
  margin: 0;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 1em;
  margin-left: 1em;
  max-width: 20em;
}

.bg1 {
  background-color: #EEEEEE;
  padding: 2em;
  border-radius: 2em;
}

.pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
  color:#6C9A56;
}

.footer {
  z-index: 10;
  background-color: #6C9A56;
  width:fit-content;
  padding: 1em 4em 1em 4em;
  border-radius: 1em;
  margin-top: -2.5em;
}

.innerFooter {
  background-color: #fff;
  width: fit-content;
  padding: 0em 2em 0em 2em;
  border-radius: 2em;
}

.designHeader {
  display: flex;
  justify-content: space-between;
}

.designOptions {
  display: flex;
  gap: 5em;
}

.designContent, .requirementsContent, .faqContent{
  height: 25em;
  overflow-y: scroll;
}

.yap{
  max-height: 40em;
  overflow-y: scroll;
}

.tutImg{
  height: 20em;
}

.tutImg1{
  height: 12.5em;
}

.hor {
  display: flex;
}

.grow:hover {
  font-size: 17px;
  border: solid;
  border-color: #6C9A56;
  width: 105%;
}

.i {
  font-style: italic;
  margin-top: -.25em;
}

a {
  color: #6C9A56;
}